* {
    margin: 0;
    padding: 0;
}

/* Ensure footer stay at botom on small pages */

body {
    color : white;
    min-height: 100vh;
    background-color: #303030;
}

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;

    main {
        flex: 1;
    }
}

a,
a:visited {
    color: lightskyblue;
}

table {
    border-collapse: collapse;
    margin: 0 auto;
}

table, th, td {
    border: 1px solid;
}

td, th {
    padding: 1rem;
}